footer {
  display:block;  
  width:100%;
  bottom:0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15vh;
  position: absolute;
  bottom: -15vh;
}
.social-icons {
  color: #abaeaf;
}

