footer {
  display:block;  
  width:100%;
  bottom:0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15vh;
  margin-top: 20px;
  flex-shrink: 0;

  .social-icons {
        color: #abaeaf;
  }
}
